.td-section {
	position: relative;
	width: 100%;
}
.td-navbar {
	border-radius: 0;
	max-height: 53px;
}
.td-navbar a {
	cursor: pointer;
}
.td-navbar .navbar-brand {
	font-size: 24px;
	font-weight: 300;
	font-style: italic;
	color: #E74C3C;
}
.td-navbar-list {
	margin-left: 50px;
}
.td-navbar-list li.nav-list-item a {
	font-size: 14px;
	font-weight: 300;
}
.nav-user-avatar {
	width: 25px;
	height: 25px;
}
.navbar-nav > li > a.user-setting-toggle {
	padding-top: 15px;
	padding-bottom: 10px;
}
.navbar-nav > li > a.post-btn {
	display: block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #E74C3C;
	border-radius: 50%;
	padding: 0;
	color: #E74C3C;
	text-align: center;
	margin-top: 15px;
}