body {
	font-family: 'Roboto', sans-serif;
}
.dropdown-caret {
	position: absolute;
	width: 0;
	height: 0;
	top: -9px;
	left: 70%;
	border-bottom: 10px solid #f3f4f5;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
.dropdown-caret.caret-left {
	left: 20%;
}

.td-section {
	position: relative;
	width: 100%;
}
.td-navbar {
	border-radius: 0;
	max-height: 53px;
	margin-bottom: 0;
}
.td-navbar a {
	cursor: pointer;
}
.td-navbar .navbar-brand {
	font-size: 24px;
	font-weight: 300;
	font-style: italic;
	color: #E74C3C;
}
.td-navbar-list {
	margin-left: 50px;
}
.td-navbar-list li.nav-list-item a {
	font-size: 14px;
	font-weight: 300;
}
.nav-user-avatar {
	width: 25px;
	height: 25px;
}
.navbar-nav > li > a.user-setting-toggle {
	padding-top: 15px;
	padding-bottom: 10px;
}
.navbar-nav > li > a.post-btn {
	display: block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #E74C3C;
	border-radius: 50%;
	padding: 0;
	color: #E74C3C;
	text-align: center;
	margin-top: 15px;
}
.notification-dropdown li {
	float: left;
}
.notifiction-item {
	float: left;
	width: 250px;
	padding: 8px 10px 8px 10px;
}
.user-avatar-wrap {
	float: left;
	width: 50px;
	margin-top: 4px;
}
.notification-content-wrap {
	float: left;
	width: 180px;
}
.notifiction-item img {
	width: 40px;
	height: 40px;
}
.notification-info {
	padding-right: 12px;
}
.notification-info a, .notification-info span {
	font-size: 12px;
	color: #2C3E50;
}
.notification-content {
	height: 20px;
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}