body {
	font-family: 'Roboto', sans-serif;
}
.td-container {
	margin-top: 64px;
}
.dropdown-caret {
	position: absolute;
	width: 0;
	height: 0;
	top: -9px;
	left: 70%;
	border-bottom: 10px solid #f3f4f5;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
.dropdown-caret.caret-left {
	left: 20%;
}
.navbar-brand {
	height: 64px;
}
.td-section {
	position: relative;
	width: 100%;
}
.td-navbar.navbar {
	border-radius: 0;
	min-height: 64px;
	margin-bottom: 0;
	background: #ffffff;
	box-shadow: 0 2px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0,0,.2);
	-webkit-transform: translateZ(10px);
	transform: translateZ(10px);
	border-bottom: 1px solid rgba(0,0,0, 0.5);
}
.td-navbar a {
	cursor: pointer;
}
.td-navbar .navbar-brand {
	font-size: 24px;
	font-weight: 300;
	font-style: italic;
	color: #E74C3C;
	line-height: 64px;
	padding-top: 0;
	padding-bottom: 0;
}
.td-navbar-list {
	margin-left: 90px;
}
.td-navbar-list li.nav-list-item a.navbar-link {
	height: 64px;
	line-height: 64px;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 14px;
	font-weight: 400;
}
.navbar-nav > li > .dropdown-menu {
	margin-top: 3px;
}
.nav-user-avatar {
	width: 34px;
	height: 34px;
}
.navbar-nav > li > a.user-setting-toggle {
	height: 64px;
	line-height: 64px;
	padding-top: 15px;
}
.navbar-link .badge {
	background-color: #E74C3C;
	color: #ffffff;
	padding: 3px 5px;
	animation: pulse 1s infinite;
	-webkit-animation: pulse 1s infinite;
}
.navbar-nav > li > a.user-setting-toggle:hover {
	animation: pulse 1s;
	-webkit-animation: pulse 1s;
}
.navbar-nav > li > a.post-btn {
	display: block;
	border: 1px solid #E74C3C;
	border-radius: 5px;
	color: #E74C3C;
	text-align: center;
	padding: 2px 15px;
	margin-top: 17px;
	font-size: 14px;
	font-weight: 400;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}
.navbar-nav > li > a.post-btn:hover {
	background-color: #E74C3C;
	color: #ffffff;
	animation: tada 1s;
	-webkit-animation: tada 1s;
}
.notification-dropdown li {
	float: left;
}
.notification-item {
	float: left;
	width: 250px;
	padding: 8px 10px 8px 10px;
	border-top: 1px solid #BDC3C7;
}
.notification-inner-top {
	padding: 8px 10px;
	font-weight: 300;
}
.notification-inner-top i {
	float: right;
	padding-top: 5px;
	padding-right: 10px;
	color: #E74C3C;
}
.notification-inner-bottom {
	float: left;
	width: 100%;
	padding: 8px 10px;
	text-align: center;
	border-top: 1px solid #BDC3C7;
}
.notification-inner-bottom a {
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	color: #BDC3C7;
	text-decoration: underline;
}
.user-avatar-wrap {
	float: left;
	width: 50px;
	margin-top: 4px;
}
.notification-content-wrap {
	float: left;
	width: 180px;
}
.notification-item img {
	width: 40px;
	height: 40px;
}
.notification-info {
	padding-right: 12px;
}
.notification-info a, .notification-info span {
	font-size: 12px;
	color: #2C3E50;
}
.notification-content {
	height: 20px;
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.user-dropdown-link span {
	font-size: 12px;
	font-weight: 300;
	color: #BDC3C7;
}

.create-feed-wrap {
	margin-top: 25px;
}
.create-feed-top textarea {
	width: 90%;
	height: 100px;
	border: none;
	background-color: #ffffff;
	border-radius: 4px;
	outline: none;
	color: #34495E;
	font-size: 14px;
	font-weight: 400;
	padding-top: 8px;
}
.attach-list li {
	padding-right: 15px;
}
.attach-list li a{
	font-size: 14px;
	font-weight: 500;
	color: #34495E;
}
.attach-list li a i {
	font-size: 18px;
	padding-right: 5px;
}
.attach-list li a i.fa-camera {
	color: #3498DB;
}
.attach-list li a i.fa-link {
	color: #F1C40F;
}
.attach-list li a i.fa-video-camera {
	color: #E74C3C;
}
.post-feed-btn {
	font-size: 14px;
	padding-left: 35px;
	padding-right: 35px;
	margin-right: 24px;
}
.cancel-feed-btn {
	font-size: 14px;
	padding-left: 28px;
	padding-right: 28px;
}
