.ngdialog.ngdialog-theme-default .ngdialog-content {
    width: 320px;
    padding: 0;
}
.form-inner .form-group {
    text-align: center;
    margin-bottom: 10px;
}
.login-form {
    padding: 40px 26px 30px;
}
.login-form .login-field-icon {
    top: 13px;
    right: 21px;
    font-size: 18px;
}
.forget-link {
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
}

.line {
    height: 1px;
    width: 110px;
    background-color: #BDC3C7;
}
.or {
    font-size: 14px;
    font-weight: 400;
    color: #7F8C8D;
}
button.btn-qq.btn-block, button.btn-weibo.btn-block {
    margin-top: 15px;
}
.btn-forget {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100px;
    margin-top: 20px;
    margin-left: 15px;
}