body {
/*	background-image: url(../images/bg_travel.jpg);
	background-size: cover;*/
	background-color: #e9e9e9;
}
.auth-wrap {
	position: relative;
	width: 660px;
	height: 460px;
	margin: 100px auto;
	background-image: url(../images/auth-form-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	border-radius: 6px;
	color: #ffffff;
	text-align: center;
	box-shadow: 0 -5px 8px rgba(0,0,0,.3);
}
.td-content {
	margin-top: 20px;
	clear:both;
}
.signup-wrap {
	float: right;
	margin-top: 15px;
	margin-right: 15px;
}
.td-title h1 {
	font-size: 30px;
	font-weight: 400;
}
.td-subtitle {
	font-size: 24px;
	font-weight: 400;
}
.td-subcontent {
	font-size: 20px;
	font-weight: 300;
}
.td-authform-wrap {
	padding: 30px 180px;
}
.td-authform-wrap input {
	border-color: transparent;
}
.forget-link {
	padding-top: 10px;
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	color: #bdc3c7;
	text-decoration: underline;
}

.login-form-wrap {
	width: 270px;
	background-color: #edeff1;
	border-radius: 4px;
	margin: 100px auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}
.login-form .login-field-icon {
	top: 12px;
}
.login-form .login-field {
	font-size: 14px;
}
.close-wrap {
	float: right;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	font-size: 20px;
}
.close-wrap a {
	color: #34495E;
}
.login-top-banner {
	position: relative;
	height: 70px;
	margin-bottom: 15px;
}
.login-top-banner img {
	width: 60px;
	height: 60px;
	border:2px solid #ffffff;
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -25px;
}
.other-auth-login {
	margin-top: 15px;
}
.other-auth-title {
	font-size: 14px;
	margin-bottom: 10px;
}
.third-auth-item {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: #ffffff;
	line-height: 40px;
}
.third-auth-weibo {
	background-color: #E74C3C;
}
.third-auth-qq {
	background-color: #3498DB;
}
.third-auth-weixin {
	background-color: #2ECC71;
}

.feed-wrap {
	float: left;
	margin: 10px; 
	border-radius: 5px;
	background-color: #ffffff;
}
.feed-inner {
	float: left;
	padding-bottom: 15px;
}
.feed-content-wrap {
	padding: 10px 10px 15px 10px;
}
.author-wrap {
	position: relative;
}
.author-avatar-wrap {
	width: 40px;
	height: 40px;
}
.author-name-wrap {
	position: absolute;
	left: 60px;
	top: 0;
}
.author-name {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}
.post-time {
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}
.feed-content {
	margin-top: 10px;
	font-size: 14px;
	font-weight: 300;
	padding-left: 5px;
}
.like-comment-wrap {
	float: left;
	margin-top: 5px;
	padding-left: 8px;
}
.like-inner {
	float: left;
}
.like-inner a {
	color: #34495e;
}
.like-count {
	font-size: 12px;
	padding-left: 5px;
}
.like-inner ul {
	width: 170px;
	float: right;
	padding-left: 50px;
	padding-top: 4px;
	margin-bottom: 0;

}
.like-inner ul li {
	padding-left: 0;
}
.like-inner li img {
	width: 24px;
	height: 24px;
	border: 1px solid #ffffff;
}
