body {
    background-color: #2C3E50;
}
.header {
    width: 100%;
    min-height: 800px;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    position: relative;
    padding-top: 60px;
}
.brand {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    margin-top: -10px;
}
.right-social {
    padding-left: 40px;
}
.nav-item a, .social-item a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}
.nav-item {
    margin-right: 10px;
}
.header-info {
    color: #ffffff;
    text-align: center;
    margin-top: 100px;
}
.header-info h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}
.header-info p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}
.auth-form-wrap {
    width: 577px;
    height: 66px;
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 15px;
    padding-left: 15px;
    position: absolute;
    bottom: 60px;
}
.login-wrap {
    position: absolute;
    top: 80px;
}
.login-wrap p {
    font-size: 14px;
    font-weight: 300;
    color: #BDC3C7;
}
.login-wrap a {
    text-decoration: underline;
    font-style: italic;
    color: #7F8C8D;
    cursor: pointer;
}
.auth-form-wrap input.form-control {
    height: 36px;
    width: 138px;
    border-radius: 4px;
    margin-right: 10px;
}
button.btn-signup {
    height: 36px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 15px;
}

.intro {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #ECF0F1;
}
.demo-info, .demo-picture {
    padding-left: 60px;
    padding-right: 60px;
}
.demo-picture img {
    width: 365px;
    height: 365px;
    border: 5px solid #ffffff;
}
.demo-picture img:first-child {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,.75);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.75);
}
.demo-picture img:last-child {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
    -webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,.75);
    box-shadow: 3px 0 3px 0 rgba(0,0,0,.75);
}
.demo-info h6 {
    margin-bottom: 30px;
}
.demo-info p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 25px;
}
.footer {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #2C3E50;
}
.about-me {
    position: relative;
    padding-left: 70px;
}
.about-me img {
    width: 80px;
    height: 80px;
    border: 2px solid #ECF0F1;
}
.about-me p {
    position: absolute;
    top: 4px;
    left: 175px;
    width: 220px;
    color: #BDC3C7;
    font-size: 14px;
}
.myemail {
    padding-top: 40px;
    padding-left: 102px;
}
.myemail a {
    font-size: 20px;
    text-decoration: underline;
}
.contact-me {
    padding-right: 200px;
    text-align: right;
}
.contact-me .social-item a {
    font-size: 26px;
}
.contact-me p {
    color: #BDC3C7;
}
.qrcode img {
    width: 140px;
    height: 140px;
    float: right;
}