.td-navbar {
	height: 60px;
	margin-top: 30px;
	background: #ffffff;
	border: 1px solid #c3c3c3;
	text-align: center;
}
.td-navbar-inner {
	height: 60px;
    padding-left: 60px;
    padding-right: 40px;
}
.td-navbar-inner ul {
	height: 60px;
}
.ta-nav-item {
	width: 60px;
	height: 60px;
	margin-right: 60px;
}
.ta-nav-item a {
	display: block;
	height: 60px;
	color: #c3c3c3;
	font-size: 12px;
	padding-top: 10px;
}
.ta-nav-item a:hover {
	color: #da4b4d;
}
.ta-nav-item a i {
	font-size: 20px;
}