<div class="create-feed-wrap">
	<div class="create-feed-inner">
		<div class="create-feed-top row">
			<div class="col-md-2">
				<img src="images/default.jpg" alt="" class="img-responsive img-circle">
			</div>
			<div class="col-md-10">
				<div class="row">
					<textarea placeholder="share what's new..."></textarea>
				</div>
				<div class="row">
					<ul class="list-inline attach-list">
						<li>
							<a href="#"><i class="fa fa-camera"></i>photos</a>
						</li>
						<li>
							<a href="#"><i class="fa fa-link"></i>link</a>
						</li>
						<li>
							<a href="#"><i class="fa fa-video-camera"></i>video</a>
						</li>
					</ul>
				</div>
				<div class="row">
					<button class="btn btn-success post-feed-btn">Post</button>
					<button class="btn btn-default cancel-feed-btn">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>