
	<div class="feed-wrap">
		<div class="feed-inner">
			<div class="photo-wrap">
				<img src="images/auth-form-bg.jpg" alt="post photo" class="img-responsive">
			</div>
			<div class="feed-content-wrap">
				<div class="author-wrap">
					<div class="author-avatar-wrap">
						<img src="images/default.png" alt="author avatar" class="img-responsive img-circle">
					</div>
					<div class="author-name-wrap">
						<div class="author-name">Nicholas</div>
						<div class="post-time">3d ago</div>
					</div>
				</div>
				<div class="feed-content">
					Wow!!!This is pretty awesome, dude.
				</div>
				<div class="like-comment-wrap">
					<div class="like-inner">
						<a href="#"><i class="fa fa-heart"></i></a>
						<span class="like-count">123</span>
						<a href="#" class="btn btn-success btn-xs">Comment</a>
						<ul class="list-inline">
							<li>
								<a href=""><img src="images/default.png" alt="" class="img-responsive img-circle"></a>
							</li>
							<li>
								<a href=""><img src="images/default.png" alt="" class="img-responsive img-circle"></a>
							</li>
							<li>
								<a href=""><img src="images/default.png" alt="" class="img-responsive img-circle"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="feed-wrap">
		<div class="feed-inner">
			<div class="photo-wrap">
				<img src="images/auth-form-bg.jpg" alt="post photo" class="img-responsive">
			</div>
			<div class="feed-content-wrap">
				<div class="author-wrap">
					<div class="author-avatar-wrap">
						<img src="images/default.png" alt="author avatar" class="img-responsive img-circle">
					</div>
					<div class="author-name-wrap">
						<div class="author-name">Nicholas</div>
						<div class="post-time">3d ago</div>
					</div>
				</div>
				<div class="feed-content">
					Wow!!!This is pretty awesome, dude.
				</div>
				<div class="like-comment-wrap">
					<div class="like-inner">
						<a href="#"><i class="fa fa-heart"></i></a>
						<span class="like-count">123</span>
						<a href="#" class="btn btn-success btn-xs">Comment</a>
						<ul class="list-inline">
							<li>
								<a href=""><img src="images/default.png" alt="" class="img-responsive img-circle"></a>
							</li>
							<li>
								<a href=""><img src="images/default.png" alt="" class="img-responsive img-circle"></a>
							</li>
							<li>
								<a href=""><img src="images/default.png" alt="" class="img-responsive img-circle"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="feed-wrap">
		<div class="feed-inner">
			<div class="photo-wrap">
				<img src="images/image11.jpg" alt="post photo" class="img-responsive">
			</div>
			<div class="feed-content-wrap">
				<div class="author-wrap">
					<div class="author-avatar-wrap">
						<img src="images/default.png" alt="author avatar" class="img-responsive img-circle">
					</div>
					<div class="author-name-wrap">
						<div class="author-name">Nicholas</div>
						<div class="post-time">3d ago</div>
					</div>
				</div>
				<div class="feed-content">
					Wow!!!This is pretty awesome, dude.
				</div>
				<div class="like-comment-wrap">
					<div class="like-inner">
						<a href="#"><i class="fa fa-heart"></i></a>
						<span class="like-count">123</span>
						<a href="#" class="btn btn-success btn-xs">Comment</a>
						<ul class="list-inline">
							<li>
								<a href=""><img src="images/default.png" alt="" class="img-responsive img-circle"></a>
							</li>
							<li>
								<a href=""><img src="images/default.png" alt="" class="img-responsive img-circle"></a>
							</li>
							<li>
								<a href=""><img src="images/default.png" alt="" class="img-responsive img-circle"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="feed-wrap">
		<div class="feed-inner">
			<div class="photo-wrap">
				<img src="images/img-123.jpg" alt="post photo" class="img-responsive">
			</div>
			<div class="feed-content-wrap">
				<div class="author-wrap">
					<div class="author-avatar-wrap">
						<img src="images/default.png" alt="author avatar" class="img-responsive img-circle">
					</div>
					<div class="author-name-wrap">
						<div class="author-name">Nicholas</div>
						<div class="post-time">3d ago</div>
					</div>
				</div>
				<div class="feed-content">
					Wow!!!This is pretty awesome, dude.
				</div>
				<div class="like-comment-wrap">
					<div class="like-inner">
						<a href="#"><i class="fa fa-heart"></i></a>
						<span class="like-count">123</span>
						<a href="#" class="btn btn-success btn-xs">Comment</a>
						<ul class="list-inline">
							<li>
								<a href=""><img src="images/default.png" alt="" class="img-responsive img-circle"></a>
							</li>
							<li>
								<a href=""><img src="images/default.png" alt="" class="img-responsive img-circle"></a>
							</li>
							<li>
								<a href=""><img src="images/default.png" alt="" class="img-responsive img-circle"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="feed-wrap">
		<div class="feed-inner">
			<div class="photo-wrap">
				<img src="images/auth-form-bg.jpg" alt="post photo" class="img-responsive">
			</div>
			<div class="feed-content-wrap">
				<div class="author-wrap">
					<div class="author-avatar-wrap">
						<img src="images/default.png" alt="author avatar" class="img-responsive img-circle">
					</div>
					<div class="author-name-wrap">
						<div class="author-name">Nicholas</div>
						<div class="post-time">3d ago</div>
					</div>
				</div>
				<div class="feed-content">
					Wow!!!This is pretty awesome, dude.
				</div>
				<div class="like-comment-wrap">
					<div class="like-inner">
						<a href="#"><i class="fa fa-heart"></i></a>
						<span class="like-count">123</span>
						<a href="#" class="btn btn-success btn-xs">Comment</a>
						<ul class="list-inline">
							<li>
								<a href=""><img src="images/default.png" alt="" class="img-responsive img-circle"></a>
							</li>
							<li>
								<a href=""><img src="images/default.png" alt="" class="img-responsive img-circle"></a>
							</li>
							<li>
								<a href=""><img src="images/default.png" alt="" class="img-responsive img-circle"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="feed-wrap">
		<div class="feed-inner">
			<div class="photo-wrap">
				<img src="images/banner.jpg" alt="post photo" class="img-responsive">
			</div>
			<div class="feed-content-wrap">
				<div class="author-wrap">
					<div class="author-avatar-wrap">
						<img src="images/default.png" alt="author avatar" class="img-responsive img-circle">
					</div>
					<div class="author-name-wrap">
						<div class="author-name">Nicholas</div>
						<div class="post-time">3d ago</div>
					</div>
				</div>
				<div class="feed-content">
					Wow!!!This is pretty awesome, dude.
				</div>
				<div class="like-comment-wrap">
					<div class="like-inner">
						<a href="#"><i class="fa fa-heart"></i></a>
						<span class="like-count">123</span>
						<a href="#" class="btn btn-success btn-xs">Comment</a>
						<ul class="list-inline">
							<li>
								<a href=""><img src="images/default.png" alt="" class="img-responsive img-circle"></a>
							</li>
							<li>
								<a href=""><img src="images/default.png" alt="" class="img-responsive img-circle"></a>
							</li>
							<li>
								<a href=""><img src="images/default.png" alt="" class="img-responsive img-circle"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="feed-wrap">
		<div class="feed-inner">
			<div class="photo-wrap">
				<img src="images/auth-form-bg.jpg" alt="post photo" class="img-responsive">
			</div>
			<div class="feed-content-wrap">
				<div class="author-wrap">
					<div class="author-avatar-wrap">
						<img src="images/default.png" alt="author avatar" class="img-responsive img-circle">
					</div>
					<div class="author-name-wrap">
						<div class="author-name">Nicholas</div>
						<div class="post-time">3d ago</div>
					</div>
				</div>
				<div class="feed-content">
					Wow!!!This is pretty awesome, dude.
				</div>
				<div class="like-comment-wrap">
					<div class="like-inner">
						<a href="#"><i class="fa fa-heart"></i></a>
						<span class="like-count">123</span>
						<a href="#" class="btn btn-success btn-xs">Comment</a>
						<ul class="list-inline">
							<li>
								<a href=""><img src="images/default.png" alt="" class="img-responsive img-circle"></a>
							</li>
							<li>
								<a href=""><img src="images/default.png" alt="" class="img-responsive img-circle"></a>
							</li>
							<li>
								<a href=""><img src="images/default.png" alt="" class="img-responsive img-circle"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

