<div class="td-feed-wrap">
	<div class="td-feed-overlay"></div>
	<div class="td-feed-inner">
		<div class="like-wrap">
			<span class="fa fa-heart"></span>
			<span class="like-count">1234</span>
		</div>
		<div class="td-feed-content">
			Hello, there is a girl screaming out there should i have to go outside figure out
			what's going on?
		</div>
		<div class="feed-time">
			Post on 3d ago
		</div>
		<div class="likes-user-wrap">
			<ul class="list-inline">
				<li>
					<a href="#">
						<img src="images/default.png" alt="user avatar" class="img-responsive img-circle">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="images/default.png" alt="user avatar" class="img-responsive img-circle">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="images/default.png" alt="user avatar" class="img-responsive img-circle">
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>