<div class="td-section td-login-section">
	<div class="login-form-wrap animated bounceInDown">
		<div class="close-wrap">
			<a ui-sref="login" class="fa fa-times"></a>
		</div>
		<div class="forget-tip">
			Forget your password?
		</div>
		<div class="form-inner">
			<form novalidate name="forgetForm" class="login-form"
			ng-submit="submitforgetForm(user)">
				<div class="form-group">
					<input type="email" class="form-control login-field"
					ng-model="user.email" placeholder="Your Email" required>
					<label for="login-email" class="login-field-icon fa fa-envelope"></label>
				</div>
				<button class="btn btn-block btn-success"
				type="submit" ng-disabled="forgetForm.$invalid">Submit</button>
				<p class="td-error animated" ng-class="{'zoomIn': hasError}">{{errorMessage}}</p>
			</form>
		</div>
	</div>
	<div ng-include="'views/partials/spinner.html'"></div>
</div>