<div class="form-wrap">
    <div class="form-inner">
        <form novalidate name="forgetPassForm" class="login-form">
            <div class="form-group">
                <input type="email" ng-model="user.email" class="form-control login-field" placeholder="Enter your email">
            </div>
            <button class="btn btn-primary btn-forget">Submit</button>
            <button class="btn btn-danger btn-forget" ng-click="closeForgetPassModal()">Cancel</button>
        </form>
    </div>
</div>