<div class="td-hotfeed-card">
    <div class="card-inner">
        <h2>Hot feeds</h2>
        <ul class="list-unstyled">
            <li>
                <a href="#">some feed</a>
            </li>
            <li>
                <a href="#">some feed</a>
            </li>
            <li>
                <a href="#">some feed</a>
            </li>
            <li>
                <a href="#">some feed</a>
            </li>
            <li>
                <a href="#">some feed</a>
            </li>
        </ul>
    </div>
</div>