<nav class="td-navbar navbar navbar-default">
	<div class="container">
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">
		      	Showfie
		      </a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav td-navbar-list">
		        <li class="nav-list-item">
		        	<a href="#">ME</a>
		        </li>
		        <li class="nav-list-item">
		        	<a href="#">FRIENDS</a>
		        </li>
		        <li class="dropdown nav-list-item">
		          <a class="dropdown-toggle" data-toggle="dropdown">MESSAGES <span class="badge">0</span></a>
		          <ul class="dropdown-menu notification-dropdown animated bounceIn" role="menu">
		          	<div class="dropdown-caret caret-left"></div>
		            <li>
			            <div class="notifiction-item">
			            	<div class="user-avatar-wrap">
			            		<img src="images/default.png" alt="user-avatar" class="img-responsive img-circle">
			            	</div>
			            	<div class="notification-content-wrap">
			            		<div class="notification-info">
			            			<a href="#">Nicholas</a>
			            			<span class="pull-right">3h ago</span>
			            		</div>
			            		<div class="notification-content">
			            			dude, this is pretty awesome!!! loved it!! dadfddddddddddddddddddddd saasdfawefsd
			            		</div>
			            	</div>
			            </div>
		            </li>
		            <li>
			            <div class="notifiction-item">
			            	<div class="user-avatar-wrap">
			            		<img src="images/default.png" alt="user-avatar" class="img-responsive img-circle">
			            	</div>
			            	<div class="notification-content-wrap">
			            		<div class="notification-info">
			            			<a href="#">Nicholas</a>
			            			<span class="pull-right">3h ago</span>
			            		</div>
			            		<div class="notification-content">
			            			dude, this is pretty awesome!!! loved it!!
			            		</div>
			            	</div>
			            </div>
		            </li>
		          </ul>
		        </li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		      	<li class="dropdown">
		      	  <a class="dropdown-toggle user-setting-toggle" data-toggle="dropdown">
		      	  	<img src="images/default.png" alt="user avatar" class="img-responsive img-circle nav-user-avatar">
		      	  </a>
		      	  <ul class="dropdown-menu animated bounceIn" role="menu">
		      	  	<div class="dropdown-caret">
		      	  		<span class="caret-outer"></span>
		      	  		<span class="caret-inner"></span>
		      	  	</div>
		      	    <li><a href="#">Action</a></li>
		      	    <li><a href="#">Another action</a></li>
		      	    <li><a href="#">Something else here</a></li>
		      	    <li class="divider"></li>
		      	    <li><a href="#">Separated link</a></li>
		      	  </ul>
		      	</li>
		        <li>
		        	<a class="post-btn"><i class="fa fa-plus"></i></a>
		        </li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</div>
</nav>