<nav class="td-navbar">
	<div class="td-navbar-inner">
		<ul class="list-inline">
			<li class="ta-nav-item">
				<a href="#">
					<i class="fa fa-home"></i>
					Home
				</a>
			</li>
			<li class="ta-nav-item">
				<a href="#">
					<i class="fa fa-picture-o"></i>
					Gallery
				</a>
			</li>
			<li class="ta-nav-item">
				<a href="#">
					<i class="fa fa-bell"></i>
					Message
				</a>
			</li>
			<li class="ta-nav-item">
				<a href="#">
					<i class="fa fa-search"></i>
					Search
				</a>
			</li>
			<li class="ta-nav-item">
				<a href="#">
					<i class="fa fa-map-marker"></i>
					Location
				</a>
			</li>
            <li class="ta-nav-item">
                <a href="#">
                    <i class="fa fa-gear"></i>
                    Settings
                </a>
            </li>
			<li class="ta-nav-item">
				<a href="#/post">
					<i class="fa fa-edit"></i>
					Share
				</a>
			</li>
		</ul>
	</div>
</nav>