<div class="setting-info-inner">
	<div class="setting-title-wrap">
		<h4>Setting your profile</h4>
	</div>
	<form novalidate name="profileForm" class="form-horizontal" role="form">
		<div class="form-group">
			<label for="username" class="col-sm-2 control-label">Username</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" value="Nicholas Xue" readonly="true">
				<p>This cannot be edited!</p>
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" value="yitaqi2011@gmail.com" readonly="true">
				<p>We promise there is no spam!</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Gender</label>
			<div class="col-sm-10">
				<label class="radio">
					<input type="radio" value="male" ng-model="user.gender" class="custom-radio">
					<span class="icons">
						<span class="icon-unchecked"></span>
						<span class="icon-checked"></span>
					</span>
					Male
				</label>
				<label class="radio">
					<input type="radio" value="female" ng-model="user.gender" class="custom-radio">
					<span class="icons">
						<span class="icon-unchecked"></span>
						<span class="icon-checked"></span>
					</span>
					Female
				</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Location</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" value="NYC">
				<p>Tell us where you are now.</p>
			</div>
		</div>
	</form>
</div>