<div class="td-user-card">
	<div class="user-card-inner">
		<div class="user-card-top">
			<div class="avatar-wrap">
				<img src="images/default.jpg" alt="user avatar" class="img-responsive img-circle">
			</div>
			<div class="name-wrap">
				Nicholas Xue
			</div>
			<div class="user-info-wrap">
				<div class="gender-location">
					<i class="fa fa-user"></i><span>Male</span>
					<i class="fa fa-map-marker"></i><span>NYC</span>
				</div>
				<div class="profile">
					A normal geek also a fucking handsome and funny guy!
				</div>
			</div>
		</div>
		<div class="user-card-bottom">
			<ul class="list-inline">
				<li>
					<a href="#">
						<b>234</b><br>
						<span>Posts</span>
					</a>
				</li>
				<li>
					<a href="#">
						<b>2850</b><br>
						<span>Followers</span>
					</a>
				</li>
				<li>
					<a href="#">
						<b>675</b><br>
						<span>Following</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>