<div class="td-user-card">
	<div class="card-banner">
		<img src="images/defualt.png" alt="user avatar" class="img-responsive img-circle">
		<div class="card-user-info">
			<h2>Nicholas Xue</h2>
			<p>A normal geek also a very handsome funny guy!!!!</p>
		</div>
	</div>
	<div class="card-post-info">
		<ul class="list-inline">
			<li>
				<a href="#">
					<b>126</b><br>
					<span>POSTS</span>
				</a>
			</li>
			<li>
				<a href="">
					<b>24</b><br>
					<span>FOLLOWING</span>
				</a>
			</li>
			<li>
				<a href="">
					<b>54</b><br>
					<span>FOLLOWEE</span>
				</a>
			</li>
		</ul>
	</div>
</div>