<div class="td-user-card">
	<div class="card-inner">
        <div class="user-avatar">
            <img src="../images/default.png" alt="username" class="img-responsive img-circle">
        </div>

        <h6>Nicholas Xue</h6>
        <p class="user-profile">A normal geek and also very handsome funny guy!</p>
        <ul class="list-inline">
            <li class="user-gender">
                <i class="fa fa-user"></i>Male
            </li>
            <li class="user-location">
                <i class="fa fa-map-marker"></i>Shanghai
            </li>
        </ul>
        <a href="#" class="btn btn-primary">View more</a>
	</div>
</div>