<div class="td-section user-section">
	<div class="user-section-inner">
		<div class="user-top-banner">
			<img src="images/banner.jpeg" alt="">
			<div class="banner-blur-wrap" scroll-blur-effect>
				<img src="images/banner-blur.png" alt="">
			</div>
			<div class="top-action-wrap row">
				<div class="brand-wrap col-md-6">
					<a ui-sref="home" class="brand">Showfie</a>
				</div>
				<div class="setting-wrap col-md-6">
					<a ui-sref="settings.profile" class="setting-link">Edit Profile</a>
				</div>
			</div>
		</div>
		<div class="user-content-wrap">
			<div class="user-info-wrap">
				<header class="user-info">
					<div class="avatar-wrap">
						<img src="images/default.jpg" alt="" class="img-responsive img-circle">
					</div>
					<h1>Nicholas Xue</h1>
					<p>A normal Geek and also a very handsome funny guy!</p>
					<ul class="list-inline">
						<li class="user-menu-item">
							<a href="#">
								<small>POSTS</small>
								28
							</a>
						</li>
						<li class="user-menu-item">
							<a href="#">
								<small>FOLLOWING</small>
								45
							</a>
						</li>
						<li class="user-menu-item">
							<a href="#">
								<small>FOLLOWERS</small>
								23
							</a>
						</li>
					</ul>
				</header>
				<div class="user-divider">
					<a href="#">Nicholas Xue's Showfies</a>
				</div>

				<div class="user-feeds-wrap container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1" ng-repeat="feed in feeds">
							<div ng-include="'views/partials/feed.html'"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>