<div class="container td-container">
    <div class="row">
        <section class="td-section">
            <div ng-include="'views/partials/navbar.html'"></div>
        </section>
    </div>
	<div class="row">
		<div class="col-md-3 td-left-side">
			<div ng-include="'views/partials/usercard.html'"></div>
            <div ng-include="'views/partials/hotfeed.html'"></div>
		</div>
		<div class="col-md-6 td-middle-side">

		</div>
		<div class="col-md-3 td-right-side">
            <div ng-include="'views/partials/usercard.html'"></div>
		</div>
	</div>

</div>
