<div class="td-section td-login-section">
	<div class="login-form-wrap animated zoomIn">
		<div class="close-wrap">
			<a ui-sref="welcome" class="fa fa-times"></a>
		</div>
		<div class="form-inner">
			<div class="login-top-banner">
				<img src="images/default.png" alt="banner" class="img-responsive img-circle">
			</div>
			<form novalidate name="loginForm" class="login-form">
				<div class="form-group">
					<input type="email" class="form-control login-field" ng-model="user.email" placeholder="Your Email">
					<label for="login-email" class="login-field-icon fa fa-envelope"></label>
				</div>
				<div class="form-group">
					<input type="password" class="form-control login-field" ng-model="user.password" placeholder="Your Password">
					<label for="login-password" class="login-field-icon fa fa-unlock-alt"></label>
				</div>
				<a class="btn btn-block btn-success" ui-sref="home">Login</a>
			</form>
		</div>
		<a ui-sref="/forgetpass" class="forget-link">Forget Password?</a>
		<div class="other-auth-login">
			<div class="other-auth-title">
				Or login with below:
			</div>
			<div class="third-auth">
				<ul class="list-inline">
					<li>
						<a href="#" class="third-auth-item third-auth-weibo"><i class="fa fa-weibo"></i></a>
					</li>
					<li>
						<a href="#" class="third-auth-item third-auth-qq"><i class="fa fa-qq"></i></a>
					</li>
					<li>
						<a href="#" class="third-auth-item third-auth-weixin"><i class="fa fa-weixin"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>