<div class="td-section home-section">
	<div ng-include="'views/partials/navbar.html'"></div>
	<div class="container td-container">
		<div class="row">
			<div class="col-md-4">
				<div ng-include="'views/partials/user-card.html'"></div>
				<div class="setting-list-wrap">
					<div class="setting-list-inner">
						<h4>Reset Password</h4>
						<ul class="list-unstyled">
							<li>
								<a ui-sref="settings">Profile<i class="fa fa-angle-right"></i></a>
							</li>
							<li>
								<a ui-sref="settings.avatar">Avatar<i class="fa fa-angle-right"></i></a>
							</li>
							<li class="active">
								<a ui-sref="settings.password">Password<i class="fa fa-angle-right"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div ng-include="'views/partials/setting-pass.html'"></div>
			</div>
		</div>
	</div>
</div>