<div class="td-section user-section">
	<div class="user-section-inner">
		<div class="user-top-banner">
			<img src="images/demo.jpg" alt="">
			<div class="top-action-wrap row">
				<div class="brand-wrap col-md-6">
					<a href="#" class="brand">Showfie</a>
				</div>
				<div class="setting-wrap col-md-6">
					<a href="#" class="setting-link">Edit Profile</a>
				</div>
			</div>
		</div>
		<div class="user-content-wrap">
			<div class="user-info-wrap">
				<header class="user-info">
					<div class="avatar-wrap">
						<img src="images/default.jpg" alt="" class="img-responsive img-circle">
					</div>
					<h1>Nicholas Xue</h1>
					<p>A normal Geek and also a very handsome funny guy!</p>
					<ul class="list-inline">
						<li class="user-menu-item">
							<a href="#">
								<small>POSTS</small>
								28
							</a>
						</li>
						<li class="user-menu-item">
							<a href="#">
								<small>FOLLOWING</small>
								45
							</a>
						</li>
						<li class="user-menu-item">
							<a href="#">
								<small>FOLLOWERS</small>
								23
							</a>
						</li>
					</ul>
				</header>
			</div>
		</div>
	</div>
</div>