<div class="section td-section welcome-section">
	<div class="auth-wrap">
		<div class="signup-wrap">
			<a ui-sref="login" class="btn btn-default">Login</a>
		</div>
		<div class="td-content">
			<div class="td-title">
				<h1>Showfie</h1>
			</div>
			<div class="td-subtitle">
				They used to Pinterest plan a dream trip.
			</div>
			<div class="td-subcontent">
				Join Showfie to show the best and beautiful that inspire others.
			</div>
			<div class="td-authform-wrap">
				<form novalidate name="signUpForm">
					<div class="form-group">
						<input type="email" class="form-control" ng-model="user.email" placeholder="Email">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" ng-model="user.password" placeholder="Password">
					</div>
					<button class="btn btn-primary btn-block" type="submit">Sign Up</button>
				</form>
			</div>
		</div>
	</div>
</div>