<section class="header">
	<div class="overlay"></div>
	<div class="container">
		<nav class="navbar-right">
			<ul class="list-inline">
				<li class="nav-item">
					<a href="#home">Home</a>
				</li>
				<li class="nav-item">
					<a href="#introduction">Introduction</a>
				</li>
				<li class="nav-item">
					<a href="#author">Author</a>
				</li>
				<li class="nav-item">
					<a href="#contact">Contact</a>
				</li>
			</ul>
		</nav>
		<div class="header-info">
			<h2>You have the design, you have the code</h2>
			<p>We've created the product that will help </p>
			<p>your startup to look even better.</p>
		</div>
		<div class="header-video">
			
		</div>
		<div class="auth-form-wrap">
			<div class="auth-form-inner">
				<form novalidate name="signupForm" class="form-inline">
					<div class="form-group">
						<label for="username" class="sr-only">Username</label>
						<input type="text" ng-model="user.name" class="form-control" placeholder="Username">
					</div>
					<div class="form-group">
						<label for="email" class="sr-only">Email</label>
						<input type="email" ng-model="user.email" class="form-control" placeholder="Email Address">
					</div>
					<div class="form-group">
						<label for="password" class="sr-only">Password</label>
						<input type="password" ng-model="user.password" class="form-control" placeholder="Password">
					</div>
					<button class="btn btn-success" type="submit">Sign Up</button>
				</form>
			</div>
		</div>
	</div>
</section>